<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
  function initialize() {
    var latlng = new google.maps.LatLng({{ all_tz.unionagg.centroid.y}},
                                        {{ all_tz.unionagg.centroid.x}});
    var myOptions = {
      zoom: {{ zoom }},
      center: latlng,
  mapTypeId: google.maps.MapTypeId.TERRAIN
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions)
  {% for tz in all_tz %}
  polygon = new google.maps.Polygon({
             paths: {{ tz.gpoly }},
             strokeColor: "#FF0000",
             strokeOpacity: 0.8,
             strokeWeight: 2,
             fillColor: "#FF0000",
             fillOpacity: 0.35
                   });
  polygon.setMap(map);
  {% endfor %}

 }

</script>
</head>
<body onload="initialize()">
  <div id="map_canvas" style="width:100%; height:100%"></div>
</body>
</html>
